@model WeddingApi.Models.Guest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allergies" class="control-label"></label>
                <input asp-for="Allergies" class="form-control" />
                <span asp-validation-for="Allergies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountKids" class="control-label"></label>
                <input asp-for="AmountKids" class="form-control" />
                <span asp-validation-for="AmountKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Side" class="control-label"></label>
                <select asp-for="Side" class="form-control">
                    <option value="0">MarrierA</option>
                    <option value="1">MarrierB</option>
                    <option value="2">Both</option>
                </select>
                <span asp-validation-for="Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendsOrFamily" class="control-label"></label>
                <select asp-for="FriendsOrFamily" class="form-control">
                    <option value="0">Friends</option>
                    <option value="1">Family</option>
                </select>
                <span asp-validation-for="FriendsOrFamily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <select asp-for="Answer" class="form-control">
                    <option value="0">AcceptedList</option>
                    <option value="1">PossibleList</option>
                    <option value="2">PendingList</option>
                    <option value="3">DeclinedList</option>
                </select>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasPlusOne" /> @Html.DisplayNameFor(model =>  model.HasPlusOne)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedTransportation" /> @Html.DisplayNameFor(model => model.NeedTransportation)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedLodging" /> @Html.DisplayNameFor(model => model.NeedLodging)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
