* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Wedding_title {
    color: #F830E4;
    font-family: 'Paprika';
}

/*Button landing page*/
.text-center .butn {
    margin: 10px;
    height: 47px;
    width: 170px;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    letter-spacing: 1px;
    background: #F830E4;
    text-shadow: 0px 1px 2px #000000;
    font-family: 'Paprika';
}

    .text-center .butn:hover {
        cursor: pointer;
        letter-spacing: 1px;
        text-shadow: 0px 1px 2px #000000;
        box-shadow: 0 0 0 1px white, 0 0 0 2px #F830E4, 0 0 0 5px #F830E4, 0 0 0 6.5px white, 0 0 0 7px #F830E4;
        border-radius: 100px;
        background: none;
        color: #F757E8;
    }

    .text-center .butn:active {
        outline: none;
        border: 1px solid #0099ff;
        transform: translateY(4px);
    }

    .text-center .butn:focus {
        outline: none !important;
    }


.wedd-img {
    width: 100%
}

/*Register*/
.reg-top {
    margin-top: 10%;
}


.regcard {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 470px;
    background: #F830E4;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Paprika';
}

.regcover {
    background: #fff;
}

.regfrom  {
    padding:30px;
}

    .regfrom h2 {
        color: #F830E4;
    }



/*button from login/register*/
.reg-login-btn {
    background: #f757e8;
    color: #fff;
}

    .reg-login-btn:hover {
        background: #F830E4;
        color: #fff;
    }

    .reg-login-btn:focus {
        outline: none !important;
    }

/*Login*/
.form-wrap .tabs {
    overflow: hidden;
}
.form-wrap .tabs h5 {
    float: left;
    width: 50%;
}

    .form-wrap .tabs h5 a {
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        background-color: #f788ec;
        display: block;
        color: #A533FF;
        text-decoration:none;
    }

        .form-wrap .tabs h5 a.active {
            background-color: #fff;
            text-decoration: none;
        }

.form-wrap .tabs-content {
    padding: 1.5em;
}

    .form-wrap .tabs-content div[id$="tab-content"] {
        display: none;
    }
    .form-wrap .tabs-content .active {
        display: block !important;
    }


/*Dashboard*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper
a,
.wrapper
a:hover,
.wrapper
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F757E8;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #F830E4;
    }

    #sidebar ul.components {
        padding: 20px 0;
    }

.components a {
    color: #fff;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    line-height: 24px;
}

    #sidebar ul li a span {
        padding-left: 5px;
    }

    #sidebar ul li a:hover {
        color: #c54ee9;
        background: #fff;
        text-decoration: none;
    }

.log-out a:hover {
    text-decoration: none;
    color: #c54ee9;
}

.log-out a {
    text-decoration: none;
    color: #545253;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f05bf5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #F830E4;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.btn-menu {
    color: #fff;
    background-color: #F757E8;
    border-color: #F757E8;
}

    .btn-menu:hover {
        color: #F757E8;
        background-color: #fff;
        border-color: #F757E8;
    }
 @media (max-width: 768px){
    #sidebar {
         margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.rem-day, .rem-hours, .rem-minutes {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    height: 60px;
    width: 60px;
}

.remaining-time .text-big-day {
    font-family: 'Paprika';
    color: #7F67FD;
}

.navbar .user-name {
    font-family: 'Paprika';
    color: #7F67FD;
}

.card-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .card-menu .card {
        width: 300px;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }
    .card-menu .card-body .bg-iconify {
        background-color: #fa8bd5;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: auto;
    }

    .card-menu .card-body .logo-menu {
        color: #fff;
        height: 25px;
        width: 25px;
        margin-top: 13px;
    }

    .card-menu .card-body .status-menu {
        height: 20px;
        width: 20px;
    }

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fd9bed);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fd9bed);
    text-align:center;
}

    .banner h1 {
        font-family: 'Paprika';
    }
.card-gallery {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

    .card-gallery .btn-gallery {
        margin: 15px;
        background-color: #fff;
        color: #f830e4;
        border: 2px solid #f830e4;
    }

        .card-gallery .btn-gallery:hover {
            background-color: #f830e4;
            color: #fff;
            border: 2px solid #f830e4;
        }

/*Guest list*/

.btn-guest {
    color: #fff;
    background-color: #F757E8;
    border-color: #F757E8;
}
    .btn-guest:hover {
        color: #fff;
        background-color: #f830e4;
        border-color: #f830e4;
    }
.text-guest {
    color: #F757E8;
    font-family: 'Paprika';
}

.modal.right_modal .modal-dialog {
    position: fixed;
    margin: auto;
    width: 450px;
    max-width: 85%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog {
    margin: 1.75rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 576px) {
    .right_modal .modal-dialog {
        max-width: 100%;
    }
}

.modal.right_modal .modal-content {
    height: 100vh !important;
}

.modal.right_modal .modal-body {
    padding: 15px 15px 30px;
}

.modal-backdrop {
    display: none;
}

/*Right*/
.modal.right_modal.fade .modal-dialog {
    right: -5px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header.right_modal {
    padding: 10px 15px;
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.modal_outer .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 91vh;
}