* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Wedding_title {
    color: #F830E4;
    font-family: 'Paprika';
}

/*Button landing page*/
.text-center .butn {
    margin: 10px;
    height: 47px;
    width: 170px;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    letter-spacing: 1px;
    background: #F830E4;
    text-shadow: 0px 1px 2px #000000;
    font-family: 'Paprika';
}

    .text-center .butn:hover {
        cursor: pointer;
        letter-spacing: 1px;
        text-shadow: 0px 1px 2px #000000;
        box-shadow: 0 0 0 1px white, 0 0 0 2px #F830E4, 0 0 0 5px #F830E4, 0 0 0 6.5px white, 0 0 0 7px #F830E4;
        border-radius: 100px;
        background: none;
        color: #F830E4;
    }

    .text-center .butn:active {
        outline: none;
        border: 1px solid #0099ff;
        transform: translateY(4px);
    }

    .text-center .butn:focus {
        outline: none !important;
    }


.wedd-img {
    width: 100%
}

/*Register*/
.reg-top {
    margin-top: 10%;
}


.regcard {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 470px;
    background: #F830E4;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Paprika';
}

.regcover {
    background: #ffffff;
}

.regfrom  {
    padding:30px;
}

.regfrom h2 {
    color: #F830E4;
}



/*button from login/register*/
.reg-login-btn {
    background: #f74ce6;
    color: #ffffff;
}

    .reg-login-btn:hover {
        background: #F830E4;
        color: #ffffff;
    }

    .reg-login-btn:focus {
        outline: none !important;
    }

/*Login*/
.form-wrap .tabs {
    overflow: hidden;
}
.form-wrap .tabs h5 {
    float: left;
    width: 50%;
}

    .form-wrap .tabs h5 a {
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        background-color: #f788ec;
        display: block;
        color: #A533FF;
        text-decoration:none;
    }

        .form-wrap .tabs h5 a.active {
            background-color: #fff;
            text-decoration: none;
        }

.form-wrap .tabs-content {
    padding: 1.5em;
}

    .form-wrap .tabs-content div[id$="tab-content"] {
        display: none;
    }
    .form-wrap .tabs-content .active {
        display: block !important;
    }