

@{
    ViewData["Title"] = "Bookings";
}

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Company name</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a asp-controller="Dashboard" asp-action="Index">
                    <span class="iconify" data-inline="false" data-icon="codicon:home"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Dashboard" asp-action="Bookings">
                    <span class="iconify" data-inline="false" data-icon="tabler:brand-booking"></span>
                    <span>Bookings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="iconify" data-inline="false" data-icon="icomoon-free:spoon-knife"></span>
                    <span>Prepare Menu</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="iconify" data-inline="false" data-icon="fluent:drink-wine-16-regular"></span>
                    <span>Drink Order</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="iconify" data-inline="false" data-icon="carbon:bar"></span>
                    <span>Bar Options</span>
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="iconify" data-inline="false" data-icon="fluent:guest-24-filled"></span>
                    <span>Guest List</span>
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-menu">
                    <i class="fas fa-bars"></i>
                    <span>MENU</span>
                </button>
                <div class="user-name"><h5>Hi!names</h5></div>
                <div class="log-out"><a href=""><h6>Log ut</h6></a></div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="remaining-time">
                <div class="d-flex justify-content-center clock">
                    <div class="rem-day text-center">
                        <div class="dy"><h6 id="rem-days">...</h6></div>
                        <p>Day</p>
                    </div>
                    <div class="rem-hours text-center">
                        <h6 id="rem-hours">...</h6>
                        <p>Hour</p>
                    </div>
                    <div class="rem-minutes text-center">
                        <h6 id="rem-minutes">...</h6>
                        <p>Min</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <span class="iconify" data-inline="false" data-icon="emojione-v1:glowing-star" style="font-size: 27px"></span>
                    <h6 class="text-big-day">To your big day!</h6>
                    <div id="show"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
           
        </div>
    </div>
</div>