@{
    ViewData["Title"] = "GuestList";
}

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Company name</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a asp-controller="Dashboard" asp-action="Index">
                    <span class="iconify" data-inline="false" data-icon="codicon:home"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Dashboard" asp-action="Bookings">
                    <span class="iconify" data-inline="false" data-icon="tabler:brand-booking"></span>
                    <span>Bookings</span>
                </a>
            </li>
            <li>
                <a asp-controller="Dashboard" asp-action="PrepareMenu">
                    <span class="iconify" data-inline="false" data-icon="icomoon-free:spoon-knife"></span>
                    <span>Prepare Menu</span>
                </a>
            </li>
            <li>
                <a asp-controller="Dashboard" asp-action="DrinkOrder">
                    <span class="iconify" data-inline="false" data-icon="fluent:drink-wine-16-regular"></span>
                    <span>Drink Order</span>
                </a>
            </li>
            <li>
                <a asp-controller="Dashboard" asp-action="BarOptions">
                    <span class="iconify" data-inline="false" data-icon="carbon:bar"></span>
                    <span>Bar Options</span>
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="iconify" data-inline="false" data-icon="fluent:guest-24-filled"></span>
                    <span>Guest</span>
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a asp-controller="Dashboard" asp-action="GuestList">Guest List</a>
                    </li>
                    <li>
                        <a asp-controller="Dashboard" asp-action="GuestTable">Guest Table</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-menu">
                    <i class="fas fa-bars"></i>
                    <span>MENU</span>
                </button>
                <div class="user-name"><h5>Hi!names</h5></div>
                <div class="log-out"><a href=""><h6>Log ut</h6></a></div>

            </div>
        </nav>
        <div class="container-fluid">
            <div class="remaining-time">
                <div class="d-flex justify-content-center clock">
                    <div class="rem-day text-center">
                        <div class="dy"><h6 id="rem-days">...</h6></div>
                        <p>Day</p>
                    </div>
                    <div class="rem-hours text-center">
                        <h6 id="rem-hours">...</h6>
                        <p>Hour</p>
                    </div>
                    <div class="rem-minutes text-center">
                        <h6 id="rem-minutes">...</h6>
                        <p>Min</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <span class="iconify" data-inline="false" data-icon="emojione-v1:glowing-star" style="font-size: 27px"></span>
                    <h6 class="text-big-day">To your big day!</h6>
                    <div id="show"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card-menu">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <h3 class="text-guest">Guest List</h3>
                        <div>
                            <button class="btn btn-guest" id="modal_view_right1" data-toggle="modal" data-target="#information_modal1">Send Invites & Messages</button>
                            <button class="btn btn-guest" id="modal_view_right2" data-toggle="modal" data-target="#information_modal2">Add Guests</button>
                        </div>
                    </div>
                </nav>
                <!-- Modal_1 -->
                <div class="modal modal_outer right_modal fade" id="information_modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                    <div class="modal-dialog" role="document">
                        <form method="post" id="get_quote_frm">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h2 class="modal-title">Information:</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body get_quote_view_modal_body">
                                    <div class="form-row">
                                        <div class="form-group  col-sm-12">
                                            <label for="email">Email <span class="text-danger">*</span></label>
                                            <input type="email" required="" class="form-control" id="email" name="Email">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="code">Code login <span class="text-danger">*</span></label>
                                            <input type="text" required="" class="form-control" id="code" name="Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-guest mr-auto" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-guest" id="submit_btn1">Send</button>
                                </div>
                            </div><!-- modal-content -->
                        </form>
                    </div><!-- modal-dialog -->
                </div><!-- modal_1-->
                <!-- Modal_2 -->
                <div class="modal modal_outer right_modal fade" id="information_modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <form method="post" id="get_quote_frm">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h2 class="modal-title">Information:</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body get_quote_view_modal_body">

                                    <div class="form-row">

                                        <div class="form-group col-sm-6">
                                            <label for="FirstName">FirstName <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" required="" id="firstname" name="FirstName">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="LastName">LastName <span class="text-danger">*</span></label>
                                            <input type="text" required="" class="form-control" id="lastname" name="LastName">
                                        </div>
                                        <div class="form-group  col-sm-12">
                                            <label for="email">Email <span class="text-danger">*</span></label>
                                            <input type="email" required="" class="form-control" id="email" name="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-guest mr-auto" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-guest" id="submit_btn2">Submit</button>
                                </div>
                            </div><!-- modal-content -->
                        </form>
                    </div><!-- modal-dialog -->
                </div><!-- modal_2 -->

                <div class="ng-scope">
                </div>
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="text-center">
                                        <form method="post">
                                            <input type="checkbox" class="form-check-input" />
                                        </form>
                                    </div>
                                </td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>test@gmail.com</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-center">
                                        <form method="post">
                                            <input type="checkbox" class="form-check-input" />
                                        </form>
                                    </div>
                                </td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>test@gmail.com</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-center">
                                        <form method="post">
                                            <input type="checkbox" class="form-check-input" />
                                        </form>
                                    </div>
                                </td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>test@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                   </div>
                </div>
            </div>
    </div>
</div>