@{
    ViewData[""] = "Main";
}
<div class="card-menu">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="bg-iconify">
                        <span class="iconify logo-menu" data-inline="false" data-icon="tabler:brand-booking"></span>
                    </div>
                    <div>
                        <span class="iconify status-menu" data-inline="false" data-icon="icons8:checked" style="color: #56EB65;"></span>
                    </div>
                    <h5 class="card-title">Booking</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="bg-iconify">
                        <span class="iconify logo-menu" data-inline="false" data-icon="icomoon-free:spoon-knife"></span>
                    </div>
                    <div>
                        <span class="iconify status-menu" data-inline="false" data-icon="carbon:warning" style="color: #EDD65C;"></span>
                    </div>
                    <h5 class="card-title">Prepare Your Menu</h5>
                    <p class="card-text">The sooner you make your menu choices the sooner you can prepare your Guest List.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="bg-iconify">
                        <span class="iconify logo-menu" data-inline="false" data-icon="fluent:drink-wine-16-regular"></span>
                    </div>
                    <div>
                        <span class="iconify status-menu" data-inline="false" data-icon="icons8:checked" style="color: #56EB65;"></span>
                    </div>
                    <h5 class="card-title">Drink Order</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                </div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="bg-iconify">
                        <span class="iconify logo-menu" data-inline="false" data-icon="carbon:bar"></span>
                    </div>
                    <div>
                        <span class="iconify status-menu" data-inline="false" data-icon="gridicons:time" style="color: #FF4545;"></span>
                    </div>
                    <h5 class="card-title">Bar Options</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="bg-iconify">
                        <span class="iconify logo-menu" data-inline="false" data-icon="fluent:guest-28-filled"></span>
                    </div>
                    <div>
                        <span class="iconify status-menu" data-inline="false" data-icon="icons8:checked" style="color: #56EB65;"></span>
                    </div>
                    <h5 class="card-title">Guest</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="bg-iconify">
                        <span class="iconify logo-menu" data-inline="false" data-icon="akar-icons:question"></span>
                    </div>
                    <div>
                        <span class="iconify status-menu" data-inline="false" data-icon="carbon:warning" style="color: #EDD65C;"></span>
                    </div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                </div>
            </div>
        </div>
    </div>
</div>
