
@{
    ViewData["Title"] = "Add Groom/bride";
}

<h1>Add groom/bride</h1>

<div>
    <form method="post">
        <label for="Email">Email</label>
        <input id="Email" type="text" />
    </form>
</div>

