@model WeddingApi.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<svg viewBox="0 0 1440 230">
    <path fill="#F830E4" fill-opacity="1" d="M0,96L20,106.7C40,117,80,139,120,154.7C160,171,200,181,240,160C280,139,320,85,360,69.3C400,53,440,75,480,117.3C520,160,560,224,600,218.7C640,213,680,139,720,96C760,53,800,43,840,53.3C880,64,920,96,960,90.7C1000,85,1040,43,1080,42.7C1120,43,1160,85,1200,117.3C1240,149,1280,171,1320,181.3C1360,192,1400,192,1420,192L1440,192L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"></path>
</svg>
<div class="container">
    <div class="regcard">
        <div class="regcover">
            <div class="regfrom">
                <!--Register-form-->
                <form asp-action="Register">
                    <h2 class="text-center">Register</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" placeholder="FirstName" type="text" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="LastName" type="text" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PersonNumber" class="form-control" placeholder="PersonNumber" type="text" />
                        <span asp-validation-for="PersonNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email" type="text" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Address" class="form-control" placeholder="Address" type="text" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Gender" class="form-control" placeholder="Gender" type="text" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="SocialSecurityNumber" class="form-control" placeholder="SocialSecurityNumberr" type="text" />
                        <span asp-validation-for="SocialSecurityNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-block btn-lg reg-login-btn ">Register</button>
                    </div>
                    <a asp-controller="Home" asp-action="Index">Cancel</a>
                </form>
                <!--Register-form-->
                <div class="help-text text-center">Already have an account? <a asp-controller="Account" asp-action="Login">Login here</a></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
